body {
  margin: 0;
  box-sizing: border-box;
}
.logo-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.inner-polygon {
  position: absolute;
  top: 15px;
  left: 14px;
}
header {
  background-color: #28293e;
  padding: 35px 100px;
  display: flex;
  justify-content: space-between;
}
.header-content {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
#section-5-line {
  margin-top: 4rem;
}
.side-menu-bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  display: none;
}
.center-elements {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 140px;
}
.contact-button {
  /* width: 130%; */
  /* padding: 15px; */
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  background-color: #28293e;
  color: white;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  padding: 10px 20px;
}

/* code for mobile view  */
@media screen and (max-width: 720px) {
  .center-elements {
    display: none;
  }
  .side-menu-bar {
    display: block;
  }

  .contact-button {
    display: none;
  }
 header {
  padding: 35px 30px;
 }
}
/* 
@media screen and (min-width: 721px) {
 
} */
